.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
npm-debug.log
testem.log

# System Files
.DS_Store
Thumbs.db

# Ignore Node.js modules
node_modules/
dist/